$borderColor: rgb(224, 224, 224);
$lightBlueBg: rgb(223, 247, 255);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one {
  background-color: white;
}

.mainBody {
  height: 100vh;
  font-size: 20px;
  line-height: 1.6;
  color: #595959;
  margin: 1.875rem 0;
}
.tabs {
  margin-top: 40px;
}
.cardHeading {
  color: black;
  margin: 14px;
}
.styleTag {
  background-color: #4a90e2;
  display: inline-table;
  padding: 0.07rem 0.55rem;
  font-size: 0.625rem;
}
.timeFont {
  font-size: 12px;
}
