$borderColor: rgb(224, 224, 224);
$lightBlueBg: rgb(223, 247, 255);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one {
  background-color: white;
}
.container {
  display: flex;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  border: solid $borderColor;
  border-width: 2px 0 1px;
  .header_name {
    color: rgb(159, 193, 255);
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.conversation {
  padding: 0.5rem;
  border-bottom: 1px solid $borderColor;
  display: flex;
  align-items: center;
}
.mainBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  .conversationPanel {
    padding-top: 6px;
    background-color: $lightBlueBg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .inputPadding {
      padding-left: 10px;
    }
  }
  .chatBody {
    position: relative;
    width: 100%;
    background-color: white;
  }
}
.userCard {
  background-color: rgb(216, 216, 216);
}
.historyCard {
  font-size: 0.8rem;
}
.bufferZone {
  height: 6rem;
}
.chatInput {
  // padding: 0.75rem 18rem 0.75rem;
  padding-left: 0.4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(100, 92, 92);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .conversationPanel {
    display: none;
  }
  .mainBody {
    grid-template-columns: 1fr;
  }
}
