@import '../../../theme/component.scss';

.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.4em;

  .body {
    display: flex;
    .midContent {
      margin-left: 1rem;
    }
    .toInline {
      display: flex;
      .name {
        margin-right: 0.4rem;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
    .time {
      color: #9b9b9b;
      font-size: 0.6rem;
      display: flex;
      flex: auto;
      flex-direction: row-reverse;
      align-self: flex-end;
    }
  }
}
