$borderColor: rgb(224, 224, 224);
$lightBlueBg: rgb(223, 247, 255);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one {
  background-color: white;
}

.mainBody {
  height: 100vh;
  font-size: 20px;
  line-height: 1.6;
  color: #595959;
  margin: 1.875rem 0;
}
.tabs {
  margin-top: 40px;
}
.cardHeading {
  color: black;
  margin: 14px;
}
.customCardHeading {
  flex: 1;
  color: green;
}
.styleTag {
  background-color: #4a90e2;
  margin-left: 0.75rem;
}
.styleTagBlue {
  background-color: #4a90e2;
  display: inline-table;
  padding: 0.07rem 0.55rem;
  font-size: 0.625rem;
}
.styleTag2 {
  margin-left: 0.75rem;
}
.cardHeadingtagBlue {
  margin-left: 0.75rem;
  background-color: #4a90e2;
}
.cardHeadingtagPink {
  margin-left: 0.75rem;
  background-color: #e24a5e;
}
.cardHeadingtagGreen {
  margin-left: 0.75rem;
  background-color: #2ecc71;
}

.timeFont {
  font-size: 12px;
}

.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.4em;
  text-align: center;
  color: #4a4a4a;
  font-size: 0.875rem;
  font-weight: 600;
}
